*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body{
    overflow-x: hidden;
}

.row{
    width: 100vw;
}

input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input:focus{
    width: 100%;
    border: 3px solid #555;
    border-radius: 0px;
}

.title{
    padding-left: 30px;
}