<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Landing Page</title>
</head>
<body>
    <div class="row">
        <div class="col-12 mt-3 mb-5">
            <h1 class="display-3 font-weight-bold title">Mind.</h1>
        </div>
        <div class="col-6 text-center">
            <img class="rounded-circle img-thumbnail" src="{% static 'img/portrait.jpg' %}"" alt="">
        </div>
        <div class="col-6 text-center">
            <h4 class="font-weight-bold">Halo,<br>apa kabar?</h4>
            <div class="container mt-3 mb-1">
                <form action="{% url 'homepage:index' %}" method="post">
                    {% csrf_token %}
                    {% for item in form %}
                    {{item}}
                    {% endfor %}
                    <br>
                    <button type="submit" class="btn btn-outline-secondary mt-3">Submit</button>
                </form>
            </div>
        </div>
        {% for item in respon %}
        <div class="col-12">
            <div class="container">
                <h4 class="text-break font-weight-bold mt-3 mb-3">{{item.status}}</h4>
                <p>{{item.date}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>